/* TAG SELECTORS */
body{
  margin: 0;
  background-color: #E3FDFD;
}

input{
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #11999E;
  color: #E3FDFD;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  margin: auto;
  width: 10%;
}

a{
  font-family: 'Montserrat', sans-serif;
}

p{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
/* CLASS SELECTORS */
.main_container{
  text-align: center;
  padding-bottom: 60px;
}

.web{
  height: 100px;
  width: 100px;
  margin: 20px;
}

.profile{
  height: 300px;
  width: 300px;
  margin-top: 50px;
}

.header{
  background-color: #E3FDFD;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: right;
}

.about{
  color: #11999E;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.drop{
  display: inline-block;
}

.drpdwn{
  display: inline-block;
  margin: 0;
  padding: 10px;
}

.a1{
  background-color: #E3FDFD;
  color: #11999E;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown{
  background-color: #E3FDFD;
  color: #11999E;
  display: none;
  position: absolute;
  min-width: 160px;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.bio{
  text-align: center;
  padding: 10px;
  background-color: #EBFFFA;
  color: #11999E;
}

.p1{
  text-align: justify;
  padding-left: 150px;
  padding-right: 150px;
}

.bio_h2{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin: 10px;
  margin-bottom: 0;
}

.edu_h2{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  margin-top: 8px;
  margin-bottom: 0;
}

.p2{
  text-align: center;
  margin: 0;
  padding: 0;
}

.edu{
  text-align: center;
  padding-top: 10px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #EBFFFA;
  color: #11999E;
}

.acd{
  text-align: center;
  padding-left: 220px;
  padding-right: 220px;
  background-color: #EBFFFA;
  color: #11999E;
}

.p3{
  text-align: left;
}

.p4{
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.skill{
  padding-left: 225px;
  padding-right: 225px;
  background-color: #EBFFFA;
  color: #11999E;
  text-align: center;
}

.footer{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-align: center;
  margin: 30px;
}

.cright{
  color: #11999E;
  font-size: 10px;
}

.contact{
  display: inline-block;
  background-color: #11999E;
  color: #E3FDFD;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}

.ul1{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.tech_h2{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  padding: 20px;
  margin: 0;
}

.hrule{
  background-color: #EBFFFA;
}

.image{
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.image1{
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.second{
  color: #11999E;
}

/* ID SELECTORS */
#main_h1{
  color: #11999E;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0;
}

#main_h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight:300;
  margin-top: 0;
  margin-bottom: 0;
}

/* PSUEDO SELECTORS */
.about:hover{
  background-color: #11999E;
  color: #E3FDFD;
}

.drpdwn:hover{
  background-color: #11999E;
  color: #E3FDFD;
}

.drop:hover .dropdown{
  display: block;
}

.a1:hover{
  background-color: #11999E;
  color: #E3FDFD;
}
